ul {
    list-style-type: none;
    
}

h2{
    text-align: center;
}

#addButton{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
}

#addButton{
    padding: 12px 105px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    background-color: #5a4bda;
    border: 2px solid #5a4bda;
    margin-top: 1rem;
    border-radius: 10px;
}

#addButton:hover{
    transition: all .3s ease-in-out;
    cursor: pointer;
    margin-top: 0.8rem;
}

#list{
     font-weight: 500;
    position: absolute;
    top: 22%;
    right: 20%;
    left: 45%;
}